<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    {% comment %} <link rel="stylesheet" href="../ext/aos.css"> {% endcomment %}
    <script src="https://kit.fontawesome.com/2770e33a0e.js" crossorigin="anonymous"></script>
    <title>Bodegas de Lujan de Cuyo</title>
</head>
<body>
    <header>
        <div class="centrado">
            <div class="contenedor">
                <h1 class="titulo1">Bodegas de Lujan de Cuyo</h1>
            </div>
        </div>

    <div class="navbar">
        <section class="menu-section">

            <nav class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a> </li>
                    <li><a href="bodegas_lujan.html">Bodegas Lujan de Cuyo</a> </li>
                    <li><a href="bodegas_maipu.html">Bodegas Maipu</a> </li>
                    <li><a href="bodegas-valleuco.html">Bodegas Valle de Uco</a> </li>
                    <li><a href="contacto.html">Contacto</a> </li>
                </ul>
            </nav>
        </section>
    </div>
</header>

<div class="centrado">
    <section class="cards">
        <article data-aos="flip-left" data-aos-duration="3000"class="tarjeta">
            <a href="https://www.bodegaseptima.com/la-bodega/" target="_blank">
                <figure>
                    <img src="../img/septima.jpg" alt="Bodega Septima">
                </figure>
                <div class="tarjeta-content">
                    <h2>Bodega Septima</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo nesciunt omnis incidunt vel iure ex ea soluta voluptate, eos dicta, porro asperiores officia similique quisquam. Voluptatum deleniti praesentium veniam sit! </p>
                </div>
            </a>
        </article>

        <article data-aos="flip-up"  data-aos-duration="3000"class="tarjeta">
            <a href="https://www.nietosenetiner.com.ar" target="_blank">
                <figure>
                    <img src="../img/nieto_senetiner.jpg" alt="Bodega Nieto Senetiner">
                </figure>
                <div class="tarjeta-content">
                    <h2> Nieto   Senetiner</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo nesciunt omnis incidunt vel iure ex ea soluta voluptate, eos dicta, porro asperiores officia similique quisquam. Voluptatum deleniti praesentium veniam sit! </p>
                </div>
            </a>
        </article>

        <article data-aos="flip-right" data-aos-duration="3000"class="tarjeta">
            <a href="https://www.norton.com.ar" target="_blank">
                <figure>
                    <img src="../img/norton5.jpg" alt="Bodega Norton">
                </figure>
                <div class="tarjeta-content">
                    <h2>Bodegas   Norton</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo nesciunt omnis incidunt vel iure ex ea soluta voluptate, eos dicta, porro asperiores officia similique quisquam. Voluptatum deleniti praesentium veniam sit! </p>
                </div>
            </a>
        </article>



    </section>
</div>

<footer class="footer">
    <div id="datos">
        <p>Av Emilio Civit 455 </p>
        <br>
        <p> Telefono: 261 4235456</p>
        <br>
        <p>info@bodegasmdz.com</p>
    </div>
    <div id="redes">
        <ul class="social-icons" type="none">
       <li> <a href= "https://twitter.com" target="blank"><i class="fa fa-twitter"></i></a></li>

        <li><a href="https://instagram.com"target="blank"><i class="fa fa-instagram"></i></a></li>

        <li><a href="https://facebook.com"target="blank"><i class="fa fa-facebook"></i></a></li>

        <li><a href="https://pinterest.com" target="blank"><i class="fa fa-pinterest"></i></a></li>
    </ul>
    </div>
</footer>

<script src="../ext/aos.js"></script>
<script src="../js/index.js"></script>

</body>
</html>
