<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css">
<!-- <link rel="stylesheet" href="ext/aos.css"> -->
    <script src="https://kit.fontawesome.com/2770e33a0e.js" crossorigin="anonymous"></script>

    <title>Bodegas de Mendoza</title>
</head>
<body>
<header>
        <div class="centrado">
            <div class="contenedor">
                <h1 class="titulo1">Bodegas de Mendoza</h1>
            </div>
        </div>

    <div class="navbar">
        <section class="menu-section">

            <nav class="menu">
                <ul>
                    <li><a href="index.html">Inicio</a> </li>
                    <li><a href="templates/bodegas_lujan.html">Bodegas Lujan de Cuyo</a> </li>
                    <li><a href="templates/bodegas_maipu.html">Bodegas Maipu</a> </li>
                    <li><a href="templates/bodegas-valleuco.html">Bodegas Valle de Uco</a> </li>
                    <li><a href="templates/contacto.html">Contacto</a> </li>
                </ul>
            </nav>
        </section>
    </div>
</header>


    <section>
        <div id="portada">
<div  id="portada_text">
<p>"Aquí encontraras acceso rápido a las principales bodegas de Mendoza, porque nuestra pasión es el Vino"</p>
</div>
</div>
</section>


<footer class="footer">
    <div id="datos">
        <p>Av Emilio Civit 455 </p>
        <p> Telefono: 261 4235456</p>
        <p>info@bodegasmdz.com</p>
    </div>

    <div id="redes">
        <ul class="social-icons" type="none">
       <li> <a href= "https://twitter.com" target="blank"><i class="fa fa-twitter"></i></a></li>

        <li><a href="https://instagram.com"target="blank"><i class="fa fa-instagram"></i></a></li>

        <li><a href="https://facebook.com"target="blank"><i class="fa fa-facebook"></i></a></li>

        <li><a href="https://pinterest.com" target="blank"><i class="fa fa-pinterest"></i></a></li>
    </ul>
    </div>
</footer>

<!-- <script src="ext/aos.js"></script>
<script src="js/index.js"></script> -->

</body>
</html>
